<ul class="breadcrumbs">
  <li><a href='<%= root_path %>'>Home</a></li>
  <li class="current">Publishers</li>
</ul>

<h1>Publishers</h1>
<ul class='publishers small-block-grid-3'>
  <% @publishers.each do |publisher| %>
    <li class='publishers__publisher'>
      <a href='<%= publisher_path publisher %>'>
      <%= image_tag publisher.image.url(:medium) %>
      <div class='publishers__publisher-name'>
        <%= publisher.name %>
      </div>
      </a>
    </li>
  <% end %>
</ul>